{
    parser: "babel-eslint",
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
            }
        },
        "rules": {
            "quotes": [2, "single"],
            "strict": [2, "never"],
            "no-invalid-regexp": 2,
            "no-empty-function": 1,
            "no-invalid-this": 1,
            "no-self-compare": 1,
            "brace-style": [1, "1tbs", { "allowSingleLine": true}],
            "camelcase": [1, {properties: "always"}],
            "indent": [1, 4, { "SwitchCase": 1}],
            "space-before-blocks": [1, "always"],
            "block-spacing": [2, "always"],
            "no-duplicate-imports": 2,
            },
}
