.container {
    width: 2000px;
    margin: 0 auto;
};

.pizza-wrapper {
    box-shadow: 5px 5px 20px rgba(155, 155, 155, .5);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.pizza-wrapper .pizza-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}

.offer-wrapper {
    box-shadow: 5px 5px 20px rgba(155, 155, 155, .5);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}
.offer-wrapper .offer-description{
    font-size: 20px;
    font-weight: bold;
}
.offer-wrapper .offer-price{
    margin-top: 10px;
    font-size: 20px;
}
.offer-wrapper .offer-valid{
    margin-top: 10px;
    font-weight: bold;
    color: red;
}

.navbar {
    overflow: hidden;
    background-color: white
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
}
.navbar .nav-logo .logo{
    background-color: white;
}
.navbar .nav-link-wrapper {
    float: center;
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar .nav-link-wrapper .nav-link {
    border-bottom: solid 1px rgba(155, 155, 155, .5);
    display: inline-block;
    text-align: center;
    line-height: 40px;
    margin-top: 79px;
    height: 40px;
    width: 200px;
    text-decoration: none;
    color: red;
    font-size: 1.2em;
}
.nav-link-wrapper .active {
    background-color: rgba(155, 155, 155, .15);
}
